---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import CoverflowHero from '../components/CoverflowHero.astro';
import Loader from '../components/Loader.astro';
---

<Layout title="Comparación de Educación | Sports & Academic Hub">
	<Loader />
	<Navbar />
	<main class="bg-[#030303] min-h-screen overflow-hidden">
		<CoverflowHero />
	</main>
</Layout>
